@media (min-width: 1280px) {
    .nav-mobile {
        display: none;
        visibility: hidden;
    }

    .container {
        width: 1250px;
    }

    nav ul {
        width: 1250px;
    }

    table {
        width: 1150px;
    }
}
